<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">

<display-name>Hello world Web Application</display-name>
	
<!--wink restfull webservice配置  -->
	<!-- 第一种是通过注册 wink 提供的 SimpleWinkApplication 来注册 restful 的资源 -->
		<!-- <servlet>
			<servlet-name>rest</servlet-name>
			<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
			<init-param>
				一、配置到application文件 
				<param-name>applicationConfigLocation</param-name>
				<param-value>/WEB-INF/wink-application.properties</param-value>
				二、直接配置class位置
				<param-name>javax.ws.rs.Application</param-name>
				<param-value>com.rest.webservice.WinkApplication</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
		</servlet>
		<servlet-mapping>
			<servlet-name>rest</servlet-name>
			<url-pattern>/rest/*</url-pattern>
		</servlet-mapping> -->
	<!--第一种 配置end  -->
	
	
	<!--第二种 与 spring 集成，注册wink  -->
	<context-param>
	       <param-name>contextConfigLocation</param-name>
	       <param-value>
	       classpath:META-INF/server/wink-core-context.xml,
	       /WEB-INF/spring-*.xml	           
	       </param-value>
	</context-param>
	<listener>
	       <listener-class>
	           org.springframework.web.context.ContextLoaderListener
	       </listener-class>
	</listener>	
	
	<servlet>
         <servlet-name>restService</servlet-name>
         <servlet-class>
         org.apache.wink.server.internal.servlet.RestServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>restService</servlet-name>
            <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	

</web-app>



