#appmarketLeftMenu{
	height:384px; 
	width: 240px;
	overflow-x:hidden; 
	overflow-y:auto;
}
.btn-add-s,
.btn-run-s,
.btn-remove-s{
	background-position:0 -110px;
	background:url(app_spr_img.png) no-repeat;
}
.btn-add-s{
	background-position:0 -110px;
	margin-top:6px;
}
.btn-add-s:hover{
	background-position:-25px -110px;
}
.btn-add-s:active{
	background-position:-50px -110px;
}
.btn-run-s{
	background-position:0 -135px;
	margin-top:6px;
}
.btn-run-s:hover{
	background-position:-25px -135px;
}
.btn-run-s:active{
	background-position:-50px -135px;
}
.btn-remove-s{
	background-position:0 -160px;
}
.btn-remove-s:hover{
	background-position:-25px -160px;
}
.btn-remove-s:active{
	background-position:-50px -160px;
}